<!DOCTYPE html>
<html lang="ko">
<head>
    <title>국내 상장사 정보</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="style.css">
</head>
    <body>

    <nav>
        <ul>
            <li><a href="home.html">홈</a></li>
            <li><a href="howtouse.html">사용법</a></li>
            <li><a href="list.html">기업목록</a></li>
        </ul>
    </nav>

        <div id="logo">
            <img src="Logo.png">
        </div>

        <div id="searchBar">
            <input type="text" placeholder="종목명 / 종목코드를 입력하세요" size=100 onclick="alert('아직 준비중 입니다')">
        </div>
    </body>
</html>