<!doctype html>
<html lang="kr">

<head>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a57bea1f2c403cb9db19d41ea5e4ceab&libraries=services"></script>
	<meta charset="UTF-8" />
	<title>DW학원 아카데미 Project</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>




<body onload="displayBookmarks()">
	<div layout:fragment="content" class="container">
		<header class="global-header">
			<div class="headerImg">
				<img th:src="@{/images/반도체.jpg}" alt="메인 이미지" />
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="logoImgBox">
					<a class="logoImg" th:href="@{/}"><img th:src="@{/images/logo.png}" alt="로고이미지" width="50px" /></a>
				</div>
				<ul class="nav-list ">

					<li class="nav-item">
						<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">Log in</a>
						<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Log out</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/user/signup}">Sign up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/question/list}">Q&A</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/email}">Email</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/loadStockInfo}">Stock Info</a>
					</li>
				</ul>
			</div>
			<div class="imgTxtBox">
				<div class="imgTxt">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<h1>ABOUT US</h1>
				</div>
			</div>
		</header>

		<main class="mainWrapper">

			<div class="keywordBar">
				<p>
					<i class="fa-solid fa-magnifying-glass " id="searchIcon"></i>
				</p>
				<input type="text" class="keyword">
			</div>
			<div class="keywordTitle">
				<h1>추천 검색어</h1>
			</div>
			<div class="keywordBox">
				<p>
					<a class="keywordItem" href="http://localhost:8080/question/list">게시판으로 이동하는 법</a>
					<a class="keywordItem" href="http://localhost:8080/user/login">로그인하는 법</a>
					<a class="keywordItem" href="http://localhost:8080/user/signup">회원가입은 어떻게?</a>
				</p>
			</div>

			<!-- 북마크 -->
			<h2 class="bookmarkTitle">북마크</h2>
			<div class="bookmarkBox">
				<div id="addBookmarkSection" class="bookmarkItem">
					<h2 class="addTitle">
						<i class="fa-regular fa-bookmark"></i>
						북마크 추가
					</h2>
					<p>관심있는 기업들을 북마크에 추가하고 한눈에 확인해보세요</p>
					<span><i class="fa-solid fa-circle-plus fa-2x"></i></span>
				</div>
				<!-- 여기에 북마크 목록이 표시됩니다 -->
				<ul id='bookmark-list'></ul>
			</div>

			<!-- 토픽 -->
			<div class="topicBox">
				<div class="topicTitle">
					<h2>토픽</h2>
					<p class="topicTitleIcon"><i class="fa-solid fa-chevron-right"></i></p>
				</div>

				<div class="topicBtnBox">
					<input type="radio" id="all" name="show" checked />
					<input type="radio" id="economy" name="show" />
					<input type="radio" id="society" name="show" />
					<input type="radio" id="world" name="show" />
					<input type="radio" id="IT" name="show" />
					<div class="tab">
						<label for="all">종합</label>
						<label for="economy">경제</label>
						<label for="society">사회</label>
						<label for="world">세계</label>
						<label for="IT">IT</label>
					</div>
					<div class="topicContent">
						<div class="content-dis">
							<div>종합페이지</div>

						</div>
						<div class="content-dis">
							<div>경제페이지</div>

						</div>
						<div class="content-dis">
							<div>사회페이지</div>

						</div>
						<div class="content-dis">
							<div>세계페이지</div>

						</div>
						<div class="content-dis">
							<div>IT페이지</div>

						</div>
					</div>
				</div>
			</div>

			<!-- 지도 -->
			<div class="place">
				<div class="iconBox">
					<p>
						<i class="fa-regular fa-square fa-lg" style="color: #437adb;"></i>
					</p>
					<h1>회사위치</h1>
				</div>
				<div class="map_wrap">
					<div id="map"></div>

					<div id="menu_wrap" class="bg_white">
						<div class="option">
							<div>
								<form onsubmit="searchPlaces(); return false;">
									키워드 : <input type="text" value="대전 반도체" id="keyword" size="15">
									<button type="submit">검색하기</button>
								</form>
							</div>
						</div>
						<hr>
						<ul id="placesList"></ul>
						<div id="pagination"></div>
					</div>
				</div>
			</div>
		</main>

		<!-- footer -->
		<footer>
			<div class="footer-wrap">
				<div class="footerTop">
					<ul class="footerTop-list">
						<li class="footerTop-item">개인정보처리</li>
						<li class="footerTop-item">영상정보처리기기운영관리</li>
						<li class="footerTop-item">저작권정책</li>
						<li class="footerTop-item">이메일무단수집거부</li>
						<li class="footerTop-item">관련사이트</li>
						<li class="footerTop-item">뷰어다운로드</li>
					</ul>
				</div>

				<div class="footerUnder">
					<div class="footerLogo-Txt">
						<div class="footerLogo">
							<img th:src="@{/images/logo.png}" alt="로고이미지" width="50px" />
						</div>

						<div class="footerTxtBox">
							<span>
								(우)34838 대전 중앙로 121번길 20 전화: 042-000-0000 팩스:
								042-111-1111
								<br />
								<br />본 홈페이지는 게시된 이메일 주소가 자동 수집되는 것을
								거부하며 이를 위반시 정보통신망법에 의해 처벌됨을 유념하여
								주시기 바랍니다.
							</span>
						</div>
					</div>

					<div class="footerBtnBox">
						<div class="trafficBtn">
							<a href="https://www.utic.go.kr/main/main.do" target="_blank"><button type="button">현재
									교통상황보기</button></a>
						</div>

						<div class="mapSite">
							<a href="https://map.kakao.com/" target="_blank">
								<button type="button">카카오지도 열기</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script>
		// 마커를 담을 배열입니다
		var markers = [];

		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
				level: 3 // 지도의 확대 레벨
			};

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption);

		// 장소 검색 객체를 생성합니다
		var ps = new kakao.maps.services.Places();

		// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
		var infowindow = new kakao.maps.InfoWindow({zIndex: 1});

		// 키워드로 장소를 검색합니다
		searchPlaces();

		// 키워드 검색을 요청하는 함수입니다
		function searchPlaces() {

			var keyword = document.getElementById('keyword').value;

			if (!keyword.replace(/^\s+|\s+$/g, '')) {
				alert('키워드를 입력해주세요!');
				return false;
			}

			// 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
			ps.keywordSearch(keyword, placesSearchCB);
		}

		// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
		function placesSearchCB(data, status, pagination) {
			if (status === kakao.maps.services.Status.OK) {

				// 정상적으로 검색이 완료됐으면
				// 검색 목록과 마커를 표출합니다
				displayPlaces(data);

				// 페이지 번호를 표출합니다
				displayPagination(pagination);

			} else if (status === kakao.maps.services.Status.ZERO_RESULT) {

				alert('검색 결과가 존재하지 않습니다.');
				return;

			} else if (status === kakao.maps.services.Status.ERROR) {

				alert('검색 결과 중 오류가 발생했습니다.');
				return;

			}
		}

		// 검색 결과 목록과 마커를 표출하는 함수입니다
		function displayPlaces(places) {

			var listEl = document.getElementById('placesList'),
				menuEl = document.getElementById('menu_wrap'),
				fragment = document.createDocumentFragment(),
				bounds = new kakao.maps.LatLngBounds(),
				listStr = '';

			// 검색 결과 목록에 추가된 항목들을 제거합니다
			removeAllChildNods(listEl);

			// 지도에 표시되고 있는 마커를 제거합니다
			removeMarker();

			for (var i = 0; i < places.length; i++) {

				// 마커를 생성하고 지도에 표시합니다
				var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
					marker = addMarker(placePosition, i),
					itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

				// 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
				// LatLngBounds 객체에 좌표를 추가합니다
				bounds.extend(placePosition);

				// 마커와 검색결과 항목에 mouseover 했을때
				// 해당 장소에 인포윈도우에 장소명을 표시합니다
				// mouseout 했을 때는 인포윈도우를 닫습니다
				(function (marker, title) {
					kakao.maps.event.addListener(marker, 'mouseover', function () {
						displayInfowindow(marker, title);
					});

					kakao.maps.event.addListener(marker, 'mouseout', function () {
						infowindow.close();
					});

					itemEl.onmouseover = function () {
						displayInfowindow(marker, title);
					};

					itemEl.onmouseout = function () {
						infowindow.close();
					};
				})(marker, places[i].place_name);

				fragment.appendChild(itemEl);
			}

			// 검색결과 항목들을 검색결과 목록 Element에 추가합니다
			listEl.appendChild(fragment);
			menuEl.scrollTop = 0;

			// 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
			map.setBounds(bounds);
		}



		// 리스트 아이템 생성 함수 (북마크 아이콘 포함)
		function getListItem(index, place) {
			var listItem = document.createElement('li');

			var itemStr =
				'<span class="markerbg marker_' +
				(index + 1) +
				'"></span>' +
				'<div class="info">' +
				'   <h5>' +
				place.place_name +
				'</h5>';

			if (place.road_address_name) {
				itemStr +=
					'<span>' +
					place.road_address_name +
					'</span>' +
					'<span class="jibun gray">' +
					place.address_name +
					'</span>';
			} else {
				itemStr += '<span>' + place.address_name + '</span>';
			}

			// localStorage에서 저장된 북마크 목록을 가져옵니다.
			var bookmarks = JSON.parse(localStorage.getItem("bookmarks")) || [];
			var isBookmarked = bookmarks.includes(place.place_name);

			var bookmarkClass = isBookmarked ? "fas fa-bookmark fa-2x bookmark-icon selected" : "fas fa-bookmark fa-2x bookmark-icon";

			itemStr +=
				'<i class="' +
				bookmarkClass + '" data-index="' +
				index.toString() + '" data-name="' + place.place_name + '"></i>';

			// itemStr +=
			//	'<i class="fas fa-bookmark fa-2x bookmark-icon" data-index="' +
			//	index.toString() + '" data-name="' + place.place_name + '"></i>';

			itemStr += ' <span class="tel">' + place.phone + ' </span></div>';

			listItem.innerHTML = itemStr;
			listItem.className = "item";

			// 별 아이콘 클릭 이벤트 리스너 등록
			var bookmarkIcon = listItem.querySelector(".bookmark-icon");
			bookmarkIcon.addEventListener("click", function () {
				toggleBookmark(index);
			});

			return listItem;
		}

		window.onload = function () {
			updateBookmark();
			displayBookmarks();
		}

		function updateBookmark() {
			var bookmarks = JSON.parse(localStorage.getItem("bookmarks")) || [];
			var addBookmarkSection = document.querySelector('#addBookmarkSection');

			// 북마크가 이미 있으면 '북마크 추가' 섹션을 숨김
			if (bookmarks.length > 0 && addBookmarkSection) {
				addBookmarkSection.style.display = 'none';
			} else if (addBookmarkSection) { // 모든 북마크가 삭제되었다면 '북마크 추가' 섹션을 다시 보여줌
				addBookmarkSection.style.display = '';
			}
		}

		// 새로운 북마크를 서버에 추가
		function addBookmark(bookmark) {
			// '/api/bookmarks' 엔드포인트로 POST요청을 보냄
			// 이 요청은 새로운 북마크 정보를 JSON 형식으로 포함
			fetch('/api/bookmarks', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(bookmark)
			})
				.then(function (response) {
					if (!response.ok) throw new Error("요청 실패");
					return response.json();
				})
				.then(function (data) {
					console.log('북마크가 추가되었습니다.');


				})
				.catch(function (error) {
					console.error(error);
				})

			// 북마크 객체 생성
			var bookmark = {
				name: "북마크",
				url: "https://example.com"
			};

			// 함수 호출하여 북마크 추가
			addBookmark(bookmark);
		}

		// 서버에서 모든 북마크 정보를 가져옴
		function getAllBookmarks() {
			fetch('api/bookmarks')
				.then(function (response) {
					if (response.ok) throw new Error("요청 실패");
					return response.json();
				})
				.then(function (data) {
					console.log("검색된 북마크 : ", data);

					data.forEach((bookmark, index) => {
						console.log(`Bookmark ${index + 1} : ${bookmark.name}`);
					});

				})
				.catch(function (error) {
					console.error(error);
				});
		}

		// 로컬 스토리지에 저장된 모든 북마크를 정보를 화면에 표시함
		function displayBookmarks() {
			var bookmarks = JSON.parse(localStorage.getItem("bookmarks")) || [];

			var bookmarkList = document.getElementById('bookmark-list');

			bookmarkList.innerHTML = '';

			bookmarks.forEach(function (bookmark) {
				var listItem = document.createElement('li');
				listItem.textContent = bookmark;

				listItem.addEventListener('click', function (e) {
					removeBookmark(e.target.textContent);
				});

				bookmarkList.appendChild(listItem);
			});

			// 북마크가 있다면 아이콘 색상 변경
			if (bookmarks.length > 0) {
				document.querySelector('.bookmark-icon').style.color = 'blue';
			}
		}

		function removeBookmark(bookmarkName) {
			var bookmarks = JSON.parse(localStorage.getItem("bookmarks")) || [];

			if (bookmarks.includes(bookmarkName)) {
				bookmarks.splice(bookmarks.indexOf(bookmarkName), 1);

				localStorage.setItem("bookmarks", JSON.stringify(bookmarks));

				alert(`${bookmarkName} 삭제 되었습니다.`);

				updateBookmark();
				displayBookmarks();

				// 다시 최신의 북마크 리스트를 가져옴
				bookmarks = JSON.parse(localStorage.getItem("bookmarks")) || [];

				// 북마크가 모두 삭제되었다면 아이콘 색상 변경
				if (bookmarks.length === 0) {
					document.querySelector('.bookmark-icon').style.color = 'black';
				}
			}
		}


		// 특정 위치의 상태(즐겨찾기 된 상태와 그렇지 않은 상태 사이의 전환)
		// 변경하는 역할
		function toggleBookmark(index) {
			var placesListElement = document.getElementById('placesList');
			var placeNameElement = placesListElement.children[index].querySelector('[data-name]');

			if (!placeNameElement) return;

			var placeName = placeNameElement.getAttribute('data-name');

			if (!placeName) return;

			var bookmarks = JSON.parse(localStorage.getItem("bookmarks")) || [];

			if (bookmarks.includes(placeName)) {
				bookmarks.splice(bookmarks.indexOf(placeName), 1);

				placeNameElement.classList.remove('selected');

				alert(`${placeName} 삭제 되었습니다.`);

			} else {
				bookmarks.push(placeName);


				placeNameElement.classList.add('selected');

				alert(`${placeName} 추가 되었습니다.`);

			}

			localStorage.setItem("bookmarks", JSON.stringify(bookmarks));

			updateBookmark();

			displayBookmarks();
		}


		// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
		function addMarker(position, idx, title) {
			var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
				imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
				imgOptions = {
					spriteSize: new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
					spriteOrigin: new kakao.maps.Point(0, (idx * 46) + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
					offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
				},
				markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
				marker = new kakao.maps.Marker({
					position: position, // 마커의 위치
					image: markerImage
				});

			marker.setMap(map); // 지도 위에 마커를 표출합니다
			markers.push(marker);  // 배열에 생성된 마커를 추가합니다

			return marker;
		}

		// 지도 위에 표시되고 있는 마커를 모두 제거합니다
		function removeMarker() {
			for (var i = 0; i < markers.length; i++) {
				markers[i].setMap(null);
			}
			markers = [];
		}

		// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
		function displayPagination(pagination) {
			var paginationEl = document.getElementById('pagination'),
				fragment = document.createDocumentFragment(),
				i;

			// 기존에 추가된 페이지번호를 삭제합니다
			while (paginationEl.hasChildNodes()) {
				paginationEl.removeChild(paginationEl.lastChild);
			}

			for (i = 1; i <= pagination.last; i++) {
				var el = document.createElement('a');
				el.href = "#";
				el.innerHTML = i;

				if (i === pagination.current) {
					el.className = 'on';
				} else {
					el.onclick = (function (i) {
						return function () {
							pagination.gotoPage(i);
						}
					})(i);
				}

				fragment.appendChild(el);
			}
			paginationEl.appendChild(fragment);
		}

		// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
		// 인포윈도우에 장소명을 표시합니다
		function displayInfowindow(marker, title) {
			var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

			infowindow.setContent(content);
			infowindow.open(map, marker);
		}

		// 검색결과 목록의 자식 Element를 제거하는 함수입니다
		function removeAllChildNods(el) {
			while (el.hasChildNodes()) {
				el.removeChild(el.lastChild);
			}
		}
	</script>
</body>

</html>