<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
	<title>Email Sending Error</title>
	<style>
		/* Add your CSS styling here */
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			padding: 20px;
		}

		.error-container {
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			padding: 20px;
			margin: 20px auto;
			max-width: 600px;
		}

		h1 {
			color: #d9534f;
		}
	</style>
</head>

<body>
	<div layout:fragment="content" class="container my-3">
		<div class="error-container">
			<h1>메일 보내기 실패</h1>
			<p>메일을 보내지 못하였습니다 나중에 다시 시도해주세요.</p>
			<!-- You can add more details or error handling instructions here -->
			<a href="/">홈으로 가기</a>
		</div>
	</div>
</body>

</html>