<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>기업의정보</title>
</head>

<body>
	<h1>기업정보</h1>

	<table>
		<tr>
			<th>기업번호</th>
			<td th:text="${corpInfo.corpCode}"></td>
		</tr>
		<tr>
			<th>기업명(국문)</th>
			<td th:text="${corpInfo.corpName}"></td>
		</tr>
		<tr>
			<th>주식코드</th>
			<td th:text="${corpInfo.stock_code}"></td>
		</tr>
		<!-- 주소 정보도 추가하려면 아래와 같이 추가합니다. -->
		<tr>
			<th>주소</th>
			<td><a th:href="@{http://localhost:8080/loadStockInfo/view(code=${corpInfo.corpCode})}"
					th:text="${corpInfo.adres}"></a></td>>
		<tr>

	</table>
</body>

</html>